@()
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <meta charset="utf-8">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")"></script>
    <title></title>
</head>
<body>
<dl></dl>
    <script type="text/javascript" charset="utf-8">
            var feed;
            var open = function() {
             if(feed) {
              feed.close()
              }
              feed = new EventSource('@routes.DealsStream.dealFeed()')
              feed.onmessage = function(e) {
                var data = JSON.parse(e.data)
                console.log(data)
                if(data.percent !== "") {
                 var percentStr = parseFloat('0'+data.percent)*100
                 var percent = percentStr.toFixed(0)
                 $('dl').prepend('<dt>'+percent+'%</dt><dd>'+data.desc+'</dd>')
                }
              }
            }

            open();
    </script>
</body>
</html>